.tab-active {
  background: linear-gradient(to right, #4f39f6, #9514fa);
  border-radius: 999px;
  color: #ffffff;
  font-weight: bold;
}

.tab-inactive {
  background: transparent;
  color: #25065d;
  font-weight: medium;
}
